.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 92px 50px;
    place-items: center;
    font-size: 18px;
    width: 1440px;
}

.header-menu {
    place-self: start;
    align-self: center;
}

.address {
    place-self: start;
    padding-top: 5px;
    width: 240px;
    font-style: normal;
}

.address-list {
    line-height: 24px;
    list-style: none;
}

.header-address {
    place-self: end;
    align-self: start;
}

.address-link {
    text-decoration: none;
    border-bottom: 1px #000 solid;
}

.header-logo-image {
    width: 140px;
    height: 105px;
}

.header-menu-list {
    display: flex;
    list-style: circle;
    gap: 32px;
}

.menu-link {
    line-height: normal;
    text-decoration: none;
    border-bottom: 1px #000 solid;
}

.menu-link-active {
    border-bottom: none;
}

.menu-item-active {
    list-style: none;
}

.cover {
    width: 1440px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.overlay {
    background-color: rgb(0, 0, 0, 0.6);
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
}

.cover-title {
    color: #FFF;
    font-size: 100px;
    letter-spacing: 30px;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
}

.aligned-text {
    padding-top: 165px;
    padding-left: 50px;
    line-height: 115%;
    display: block;
    box-sizing: content-box;
}

.aligned-text-center {
    text-align: center;
    padding-top: 20px;
    display: block;
    box-sizing: content-box;

}

.aligned-text-right {
    text-align: right;
    padding-top: 20px;
    padding-right: 50px;
    display: block;
    box-sizing: content-box;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover-description {
    padding: 134px 50px 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 22px;
    color: #FFF;
    line-height: 28px;
    text-transform: uppercase;
}

.cover-description-text {
    align-self: center;
    word-spacing: 18px;
    display: inline-block;
    padding: 0;
    font-size: 22px;
    color: #FFF;
    font-weight: normal;
}

.bet-button {
    background: transparent;
    color: inherit;
    text-transform: uppercase;
    border: 1px white solid;
    padding: 12px 32px;
    margin-left: 78px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.lots {
    margin: 180px 50px;
    width: 1340px;
}

.lots-heading {
    margin-left: 40px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.lots-card-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.lots-card-list-item {
    margin-top: 27px;
    width: 430px;
    flex-grow: 1;
    flex-shrink: 0;
    list-style: none;
    position: relative;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.card-type-film {
    background-image: url("../images/card-lot-01.jpg");
}

.card-type-book {
    background-image: url("../images/card-lot-02.jpg");

}

.card-type-picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card-title {
    margin: 50px 40px 0 40px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.card-text {
    margin: 0 40px 50px 40px;
    color: white;
    text-decoration: none;
}

.lots-look-more-link {
    margin-left: 40px;
    display: block;
    padding-top: 30px;
}

.about {
    width: 1365px;
    display: grid;
    grid-template-columns: 430px 1fr;
    margin: 0 50px 180px 25px;
}

.about-logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    padding: 63px 46px;
    margin-left: 120px;
    margin-right: 95px;
}

.about-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    padding-left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-text {
    padding-left: 50px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px 90px 50px;
    font-size: 18px;
    width: 1440px;
}

.footer-menu {
    place-self: center;
    align-self: start;
}

.footer-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
    place-self: end;
    align-self: start;
}

.footer-social-list-link {
    text-decoration: none;
    display: block;
}

.footer-social-list-img {
    height: 48px;
    width: 48px;
}
